AnypointStudio/studio-workspace/.tooling-apps-cache/app/2.http_connector/2.http_connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="basics" doc:id="3897ad7a-25b8-4fb8-81aa-5f4ed25390b9" >
		<http:listener doc:name="HTTP GET basics " doc:id="b01ecc19-c10a-4bb3-a4b1-46eb32ec7d64" config-ref="HTTP_Listener_config" path="/basic/*">
			<http:response >
				<http:body ><![CDATA[#[vars.requestResponse]]]></http:body>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Log START" doc:id="31892cbf-aace-44c7-9978-057acdc7b5cb" message='#["log START - " ++ flow.name]'/>
		<set-payload value='#["this is the basic flow payload"]' doc:name="Set Payload" doc:id="9658a10d-1c1f-4f4b-a2aa-806ddcdbcc9e" />
		<set-variable value="#[{  &#10;    'param1':'value1',&#10;	'param2':'',&#10;	'param3':'value3'&#10;}]" doc:name="Set quey params" doc:id="955a04d6-2c7d-479b-a086-b6148b521a8b" variableName="customMap"/>
		<http:request method="GET" doc:name="Request queryParams" doc:id="d002026b-8166-4323-ba95-1e9612efbec7" config-ref="HTTP_Request_configuration" path="/queryParams" target="requestResponse">
			<http:query-params ><![CDATA[#[output application/java
---
{
	('k1': vars.customMap.param1) if (vars.customMap.param1 != null and vars.customMap.param1 != ''),
	('k2': vars.customMap.param2) if (vars.customMap.param2 != null and vars.customMap.param2 != ''),
	('k3': vars.customMap.param3) if (vars.customMap.param3 != null and vars.customMap.param3 != '')
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Log END" doc:id="3eda8504-2083-47b6-993b-4cf8970891fd" message='#["log END - " ++ flow.name]'/>
	</flow>
	<flow name="uriParams" doc:id="e7dc2f17-42ab-486a-a222-3b6c3f95d63b" >
		<http:listener doc:name="HTTP GET" doc:id="f461143a-4e67-4c57-a3ac-8f5d52acd277" config-ref="HTTP_Listener_config" path="/uriParams/{ID}" allowedMethods="GET">
			<http:response >
				<http:body ><![CDATA[#[vars.requestResponse]]]></http:body>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="log START" doc:id="80933cc0-4dba-458b-8716-ba4852b5d77f" message='#["log START - " ++ flow.name]' />
		<set-payload doc:name="Set Payload" doc:id="6108a154-017e-44f0-9598-9d66f94ab64d" value='#[attributes.uriParams."ID"]'/>
	</flow>
	<flow name="queryParams" doc:id="1318631c-8c05-4419-a3ee-a40b630f8135" >
		<http:listener doc:name="HTTP GET" doc:id="dff176cf-9e8a-496e-a256-2db692251eff" config-ref="HTTP_Listener_config" path="/queryParams">
		</http:listener>
		<logger level="INFO" doc:name="Log START" doc:id="eab10901-7f9e-46f2-bc92-6fc62e339a6c" message='#["log START - " ++ flow.name]'/>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;&#10;attributes.queryParams]" doc:name="Set Payload" doc:id="0ff197e8-ea9e-4d8f-a746-c278de909840" />
	</flow>
</mule>