AnypointStudio/studio-workspace/2.http_connector/src/main/mule/excercise.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="excerciseFlow" doc:id="f9fd3596-ca96-47ba-ae38-de7ec942d599" >
		<http:listener doc:name="HTTP GET" doc:id="03a8bf5f-656c-417b-9b51-cb3c8f204d46" config-ref="HTTP_Listener_config" path="/excercise/{ID}"/>
		<logger level="INFO" doc:name="Log START" doc:id="68cb3c0f-6ec7-4f99-8686-35f5e5a9db9b" message='#["log START - " ++ flow.name]' />
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"uriParams": attributes.uriParams,&#10;	"queryParams": attributes.queryParams&#10;}]' doc:name="Set Payload" doc:id="b65bfef6-8ae9-4603-b51a-1d62722dc10f" />
	</flow>
</mule>
